<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>if_else_main.html</title>
</head>
<body>
<h1>if 조건문 이용하기</h1>    
ul>(li>a)*3
<ul>
    <li><a href="/score/100">값이 100일 때</a></li>
    <li><a href="/score/50">값이 50일 때</a></li>
    <li><a href="/score/10">값이 10일 때</a></li>
</ul>
<hr>
<ul>
    <li><a href="/score2/20">값이 20일 때</a></li>
    <li><a href="/score2/50">값이 50일 때</a></li>
    <li><a href="/score2/10">값이 10일 때</a></li>
</ul>
<hr>
<ul>
    <li><a href="/age/12"> age = 12 </a></li>
    <li><a href="/age/5"> age = 5 </a></li>
    <li><a href="age/10"> age = 10 </a></li>
</ul>
    
</body>
</html>